/*------------
header
------------*/

.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url('../images/bg-header.gif') repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png');
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.global-nav {
  margin-top: 15px;
  text-align: center;
}

.global-nav .nav-item {
  display: inline-block;
}

.global-nav .nav-item a {
  display:inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.17s;
}

.global-nav .nav-item.active a,
.global-nav .nav-item a:hover {
  background-color: #d03c56;
  color: #fff;
}

.wrapper {
  width: 970px;
}

.main {
  float: left;
  width: 660px;
}

.hidden {
  visibility: hidden;
}

.hot-topic {
  display: block;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}

.hot-topic:hover {
  opacity: 0.85;
}

.hot-topic .image {
  float:left;
  width: 50%;
  height: 100%;
}

.hot-topic .content {
  float: left;
  width: 50%;
  height: 100%;
  padding: 105px 25px 0;
  background-color: #2d3d54;
  line-height: 1.6;
  position: relative;
}

.hot-topic .title {
  margin-bottom: 15px;
  color: #fff;
  font-weight: normal;
  font-size: 2.0rem;
}

.hot-topic .date {
  position: absolute;
  top: 60px;
  left: 0;
  width: 140px;
  padding: 4px;
  background-color: #fff;
  color: #2d3d54;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1;
}

.hot-topic .desc {
  color: #ddc;
}

.heading {
  padding: 10px 12px;
  background: url('../images/bg-slash.gif');
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.scrolllist {
  height: 220px;
  overflow-y: auto;
  margin-bottom: 30px;
  list-style-type: none;
}

.scrolllist .scrollitem a {
  display: block;
  padding: 10px 15px;
  color: #333;
  font-size: 0;
  transition: background-color 0.1s;
}

.scrolllist .scrollitem:nth-of-type(even) a {
  background: url('../images/bg-slash.gif');
}

.scrolllist .scrollitem a:hover {
  background-color: #fafaf8;
}

.scrolllist .date {
  display: inline-block;
  font-size: 1.1rem;
  width: 19%;
  letter-spacing: 1px;

}

.scrolllist .category {
  display: inline-block;
  width: 8%;
  border-radius: 5px;
  background-color: #d03c56;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.0rem;
  line-height: 16px;
}

.scrolllist .category.news {
  background-color: #2c3c53;
}

.scrolllist .title {
  display: inline-block;
  width: 73%;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
}

.scrolllist .title {
  display: inline-block;
  width: 73%;
  padding-left: 15px;
}

.article-box {
  width: 315px;
  margin-bottom: 30px;
}

.article-box:nth-of-type(odd) {
  float: left;
}

.article-box:nth-of-type(even) {
  float: right;
}

.article-box {
  position: relative;
  display: block;
  width: 315px;
  height: 360px;
  margin-bottom: 30px;
  padding: 210px 15px 0;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
}

.article-box .title {
  margin-top: 30px;
  color: #555;
  font-size: 1.4rem;
  line-height: 1.6;
}

.article-box .desc {
  margin-top: 5px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-box .date {
  position: absolute;
  right: 0;
  bottom: 15px;
  display: block;
  width: 160px;
  padding: 4px;
  background-color: #b5d264;
  color: #2d3d54;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
}

.article-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sidemenu {
  float: right;
  width: 275px;
}

.ranking {
  margin-bottom: 30px;
  list-style-type: none;
  counter-reset: ranking;
}

.ranking .ranking-item {
  margin-top: 15px;
}

.ranking .ranking-item a {
  display: block;
  font-size: 0;
  transition: opacity 0.15s;
}

.ranking .ranking-item a:hover {
  opacity: 0.8;
}

.ranking .image {
  width: 55px;
  height: 55px;
}

.ranking .text {
  display: inline-block;
  width: 182px;
  color: #000;
  vertical-align: top;
  font-size: 1.2rem;
  line-height: 1.5;
}

.ranking .order {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border: 1px solid #ccc;
  vertical-align: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  -webkit-transform: transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ranking .ranking-item:nth-of-type(1) .order, .ranking .ranking-item:nth-of-type(2) .order, .ranking .ranking-item:nth-of-type(3) .order {
  border: none;
  color: #fff;
  font-weight: normal;
  line-height: 18px;
}

.ranking .ranking-item:nth-of-type(1) .order {
  background-color: #dab413;
}

.ranking .ranking-item:nth-of-type(2) .order {
  background-color: #6e7b84;
}

.ranking .ranking-item:nth-of-type(3) .order {
  background-color: #a0541a;
}
.ranking .order::before {
  content: counter(ranking);
  counter-increment: ranking;
  display: inline-block;
  font-size: 1.0rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.clearfix::after {
  content: '';
  display:block;
  clear: both;
}

.footer {
  width: 100%;
}
