.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url('../images/bg-header.gif') repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png');
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.global-nav {
  margin-top: 15px;
  text-align: center;
}

.global-nav .nav-item {
  display: inline-block;
}

.global-nav .nav-item a {
  display:inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.17s;
}

.global-nav .nav-item.active a,
.global-nav .nav-item a:hover {
  background-color: #d03c56;
  color: #fff;
}

.wrapper {
  width: 970px;
}

.main {
  float: left;
  width: 660px;
}

.hidden {
  visibility: hidden;
}

.hot-topic {
  display: block;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}

.hot-topic:hover {
  opacity: 0.85;
}

.hot-topic .image {
  float:left;
  width: 50%;
  height: 100%;
}

.hot-topic .content {
  float: left;
  width: 50%;
  height: 100%;
  padding: 105px 25px 0;
  background-color: #2d3d54;
  line-height: 1.6;
  position: relative;
}

.hot-topic .title {
  margin-bottom: 15px;
  color: #fff;
  font-weight: normal;
  font-size: 2.0rem;
}

.hot-topic .date {
  position: absolute;
  top: 60px;
  left: 0;
  width: 140px;
  padding: 4px;
  background-color: #fff;
  color: #2d3d54;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1;
}

.hot-topic .desc {
  color: #ddc;
}

.heading {
  padding: 10px 12px;
  background: url('../images/bg-slash.gif');
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.scrolllist {
  height: 220px;
  overflow-y: auto;
  margin-bottom: 30px;
  list-style-type: none;
}

.scrolllist .scrollitem a {
  display: block;
  padding: 10px 15px;
  color: #333;
  font-size: 0;
  transition: background-color 0.1s;
}

.scrolllist .scrollitem:nth-of-type(even) a {
  background: url('../images/bg-slash.gif');
}

.scrolllist .scrollitem a:hover {
  background-color: #fafaf8;
}

.scrolllist .date {
  display: inline-block;
  font-size: 1.1rem;
  width: 19%;
  letter-spacing: 1px;

}

.scrolllist .category {
  display: inline-block;
  width: 8%;
  border-radius: 5px;
  background-color: #d03c56;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.0rem;
  line-height: 16px;
}

.scrolllist .category.news {
  background-color: #2c3c53;
}

.scrolllist .title {
  display: inline-block;
  width: 73%;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
}

.scrolllist .title {
  display: inline-block;
  width: 73%;
  padding-left: 15px;
}
.sidemenu {
  float: right;
  width: 275px;
}

.clearfix::after {
  content: '';
  display:block;
  clear: both;
}

.footer {
  width: 100%;
}
